[user]
    name = Herman J. Radtke III
    email = hermanradtke@gmail.com
[color]
    ui = auto
[credential]
    helper = cache --timeout=300
[credential "https://github.com"]
    username = hjr3
[diff]
    algorithm = patience
