[user]
    name = Herman J. Radtke III
    email = herman@hermanradtke.com
[color]
    ui = auto
[diff]
    algorithm = patience
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[includeIf "gitdir:~/Code/narvar/"]
    path = ~/Code/narvar/.gitconfig.inc
[merge]
    conflictstyle = diff3
