# Ignore everything
*

# Manually add files we want to track
!.claude
!.claude/settings.json
!.config
!.config/ghostty
!.config/ghostty/config
!.config/iterm2/README.md
!.config/iterm2/iterm2.json
!.config/iterm2/solarized-dark.itermcolors
!.config/jj
!.config/jj/config.toml
!.config/nvim
!.config/nvim/.stylua.toml
!.config/nvim/init.lua
!.config/nvim/lazy-lock.json
!.config/nvim/lua/
!.config/nvim/lua/buffer.lua
!.config/nvim/lua/custom
!.config/nvim/lua/custom/plugins
!.config/nvim/lua/custom/plugins/ale.lua
!.config/nvim/lua/custom/plugins/copilot.lua
!.config/nvim/lua/custom/plugins/flutter.lua
!.config/nvim/lua/custom/plugins/init.lua
!.config/nvim/lua/kickstart
!.config/nvim/lua/kickstart/plugins
!.config/nvim/lua/kickstart/plugins/autoformat.lua
!.config/nvim/lua/kickstart/plugins/debug.lua
!.config/ripgrep
!.config/ripgrep/ripgrep.conf
!.gitconfig
!.gitignore
!.ssh/config
!.zprofile
!.zshrc
!.zshrc.d/narvar
!Brewfile
!Brewfile.lock.json
!README.md
!bin/gitpod-sync
