# Ignore everything
*

# Track these files
# Use `git ls-tree -r main --name-only` to list all tracked files
.config/iterm2/README.md
.config/iterm2/iterm2.json
.config/iterm2/solarized-dark.itermcolors
.config/nvim/.gitignore
.config/nvim/ftdetect/php.vim
.config/nvim/ftplugin/cucumber.vim
.config/nvim/ftplugin/php.vim
.config/nvim/ftplugin/rust.vim
.config/nvim/init.lua
.gitconfig
.gitignore
.ssh/config
.zprofile
.zshrc
Brewfile
Brewfile.lock.json
README.md
bin/gitpod-sync
