.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.aws
.bash_history
.cargo/
.composer/
.cups/
.dropbox/
.ec2/
.fontconfig/
.gem/
.gnupg/
.heroku/
.irb_history
.ivy2/
.jira
.jline-reply.history
.keepassx/
.lein/
.lesshst
.lighttable/
.local/
.m2/
.netrc
.node-gyp/
.npm/
.psql_history
.rnd
.rubies/
.ruby-version
.sbt/
.scala_history
!/.ssh
/.ssh/*
!/.ssh/config
.subversion/
.swl
.swk
.swm
.swn
.swo
.swp
.vagrant.d/
.vim/.netrwbook
.vim/.netrwhist
.viminfo
.wireshark-etc/
.wireshark/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
VirtualBox VMs/
bin/
projects/
./src
ssh
./test
tmp/
.bash_profile~
.boot2docker/
.docker/
.lldb/
.multirust/
.oracle_jre_usage/
.rustup/
Public/
.babel.json
.npmrc
.exercism.json
.bash_sessions
